.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__content
      .Chat-main__group-info__content__left
        .Chat-main__group-info__content__left__top
          test
        .Chat-main__group-info__content__left__btn
          Member : masa
      = link_to edit_group_path, method: :get, class: "Chat-main__group-info__content__right" do
        .edit
          edit
  .Chat-main__message-list
    .Chat-main__message-list__contents
      .Chat-main__message-list__contents__top
        .Chat-main__message-list__contents__top__left
          masa
        .Chat-main__message-list__contents__top__right
          2019/11/20(Wod) 17:43:30
      .Chat-main__message-list__contents__btn
        おはようございます
    .Chat-main__message-list__contents
      .Chat-main__message-list__contents__top
        .Chat-main__message-list__contents__top__left
          masa
        .Chat-main__message-list__contents__top__right
          2019/11/20(Wod) 17:43:30
      .Chat-main__message-list__contents__btn
        おはようございます
    .Chat-main__message-list__contents
      .Chat-main__message-list__contents__top
        .Chat-main__message-list__contents__top__left
          masa
        .Chat-main__message-list__contents__top__right
          2019/11/20(Wod) 17:43:30
      .Chat-main__message-list__contents__btn
        おはようございます
  .Chat-main__message-form
    .Chat-main__message-form__content
      .Chat-main__message-form__content__message
        %input.Chat-main__message-form__content__message__left{name: "message", placeholder: "type a message", type: "text"}
        %label{class: "Chat-main__message-form__content__message__right"}
          = icon('fas', 'image')
          %input{type: "file", class: "file"}
      %input.Chat-main__message-form__content__send{type: "submit", value: "Send", name: "text"}