.Chat-main{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    &__content{
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__left{
        margin-top: 35px;
        &__top{
          margin-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        &__btn{
          font-size: 12px;
          color: #999999;
        }
      }
      &__right{
        border: 1px solid #38aef0;
        text-decoration: none;
        color: #38aef0;
        font-size: 16px;
        height: 40px;
        width: 72px;
        padding: 0 20px;
        margin-top: 28px;
        display: flex;
        align-items: center;
      }
    }
  }
  &__message-list{
    height: calc(100% - 190px);
    background-color: #fafafa;
    overflow: scroll;
    &__contents{
      padding: 35px 0 46px 40px;
      &__top{
        display: flex;
        margin-bottom: 12px;
        &__left{
          font-size: 16px;
          color: #333333;
        }
        &__right{
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__btn{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 0 40px;
    display: flex;
    align-items: center;
    .Form{
      width: 100%;
      .Chat-main__message-form__content{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        &__message{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #ffffff;
          position: relative;
          .Chat-main__message-form__content__message__left{
            height: 100%;
            width: 100%;
            border: none;
            padding: 0 10px;
          }
          .Chat-main__message-form__content__message__right{
            margin-left: 10px;
            font-size: 25px;
            position: absolute;
            right: 10px;
            .file{
              display: none;
            }
          }
        }
        &__send{
          height: 100%;
          padding: 0 30px;
          color: #fff;
          font-size: 16px;
          background-color: #38aef0;
          border: none;
          margin-left: 15px;
        }
      }
    }
  }
}